@import url(reset.css);
* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0.7rem;
}

*::-webkit-scrollbar-track {
  background: #fffcf7;
}

*::-webkit-scrollbar-thumb {
  background: #ababab;
  border-radius: 0.3rem;
}

*::-webkit-scrollbar-thumb:hover {
  background: #9b41d5;
}

:root{
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #eee;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /* overflow: hidden; */
}

a {
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  transition: ease-in-out 0.2s;
}

a:hover {
  color: #fed104;
}

.container {
  width: 90%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

/* -------------------- HEADER -------------------- */
.header {
  width: 100%;
  position: fixed;
  padding: 0.3em 1em;
  z-index: 11;
  background-color: rgb(22, 21, 23, 0.9);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Chewy', sans-serif;
  font-size: 1.5rem;
  width: 35px;
  height: 35px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.navbar-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav__item {
  position: relative;
  display: flex;
  margin-right: 1rem;
}

.item-link {
  font-size: .9rem;
  font-family: 'Gloria Hallelujah', sans-serif;
}

.social-media {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.social-media_item {
  margin-left: 0.5rem;
}

.social-media_item a {
  display: block;
  padding: 0.3em;
  border-radius: 3px;
}

.social-media_item a:hover {
  background: #fed104;
  color: #2e2833;
}

.social-media_item i {
  font-size: 1.1rem;
}

.active-social {
  display: none;
}


.wrapper-menu {
  display: none;
  width: 30px;
  height: 30px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}

.wrapper-menu.open {
  transform: rotate(-45deg);
}

.line-menu {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 4px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}
/* -------------------- / HEADER -------------------- */

/* MENU for mobile */

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #333;
  z-index: 20;
  min-width: 320px;
  width: 25%;
  height: 50%;
}

.navbar-mobile {
  width: 100%;
  height: 100%;
}

.mobile-nav {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.mobile-nav__item {
  margin: 1rem;
}
/* /MENU for mobile */

/* -------------------- MAIN -------------------- */

.main {
  position: relative;
  background: url(../img/bg.jpg) no-repeat center center fixed;
  /* background: url(../img/project-img/bg-footer17.jpg) no-repeat center center fixed; */
  background-size: cover;
  z-index: 1;
  width: 100%;
  height: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
  /* display: none; */
}

.main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.5;
  z-index: -1;
}

.main .container {
  position: relative;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.main-title {
  font-family: "Permanent Marker", sans-serif;
  font-size: 5.5rem;
  text-transform: uppercase;
  color: #fed104;
}

.main-subtitle {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  margin: .5em 0 .6em 0;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  background: #222;
  color: #9B41D5;
}

.main .active-social {
  display: none;
  font-size: 1.1rem;
}

.active-social_item {
  margin-left: .5em;
}

.active-social_item a {
  display: block;
  font-size: 1em;
  padding: 0.3em;
  border-radius: .3em;
}

.active-social_item a:hover {
  background: #fed104;
  color: #2e2833;
}

.active-social_item i {
  font-size: 1em;
}

.main .welcome {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: .8rem;
  bottom: 2rem;
  font-weight: bolder;
  color: #fff;
}

/* -------------------- /MAIN -------------------- */

/* -------------------- ABOUTME -------------------- */

.aboutme {
  background-color: #0c0c0c;
  /* display: none; */
}

.aboutme .container {
  padding-top: 3.5rem;
  display: flex;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  align-items: center;
}

.i-am {
  flex: 1;
}

.i-am .who {
  display: block;
  position: relative;
  font-family: 'Permanent Marker', sans-serif;
  font-size: 3rem;
  color: #fed104;
  z-index: 1;
}

.i-am .dev {
  position: absolute;
  left: 5rem;
  top: 2rem;
  font-size: 5rem;
  color: #333;
  opacity: 0.5;
  z-index: -1;
  transform: rotate(-3deg);
}

.my-desc {
  position: relative;
  margin-top: 2.5rem;
  font-size: 1.1rem;
  line-height: 1.2em;
  z-index: 1;
}

.interesting-inform {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.features {
  margin-left: 1.5rem;
}

.features__item {
  position: relative;
  margin: 2rem 0;
}

.font-marker {
  font-family: 'Permanent Marker', sans-serif;
  font-size: 1.5rem;
}

/* -------------------- /ABOUTME -------------------- */

/* -------------------- PROJECTS -------------------- */

.portfolio {
  background-color: #0e0d0d;
  /* display: none; */
}

.portfolio .container {
  display: block;
  padding-top: 3.5rem;
  padding-bottom: 1rem;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

/* TECH STACK */
.tech {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: start;
  margin-bottom: 2rem;
}

.tech__title {
  display: inline-block;
  position: relative;
  margin: .5rem 4rem;
  font-family: 'Permanent Marker', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fed104;
  z-index: 1;
}

.web-tech {
  position: absolute;
  font-size: 10rem;
  color: #222;
  opacity: .3;
  z-index: -1;
  transform: rotate(190deg);
}

.tech-items {
  display: flex;
  flex-flow: row wrap;
  z-index: 1;
  /* display: grid; */
  /* grid-template-columns: repeat(12, 1fr); */
}

.tech-item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.tech-item__name {
  font-size: .6rem;
  color: #999;
  font-weight: bold;
}

.tech-item>img {
  max-width: 48px;
  max-height: 48px;
  margin: 0.5rem;
  margin-bottom: .2rem;
  padding: 0.3rem;
  background-color: #222;
  border-radius: 3px;
}

/* /TECH STACK */

/* PROJECTS */

/* .projects {

} */

.projects-title {
  position: relative;
  padding: .3rem .5rem;
  font-family: "Permanent Marker", sans-serif;
  font-size: 1.5rem;
  text-align: right;
  letter-spacing: .3rem;
  color: #fed104;
  z-index: 1;
  /* border-bottom: 1px solid #333; */
}

.navbar-nav-proj {
  margin: 1rem 0 1rem 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;
}

.navbar-nav-proj__item {
  display: flex;
  position: relative;
  margin-right: .5rem;
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: none;
  transition: ease-in-out 0.2s;
  color: #999;
}

.navbar-nav-proj__item:hover {
  cursor: pointer;
}
.navbar-nav-proj__item::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -0.3rem;
  background-color: #fed104;
  transition: ease-in .2s;
}

.navbar-nav-proj__item:hover::after {
  width: 60%;
}

.active-link {
  color: #fed104;
}

.project-box {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
}

.box-item {
  position: relative;
  max-height: 100%;
  margin: .2rem;
  border: 1px solid #fed104;
  overflow: hidden;
}

.box-item::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: ease-in-out .5s;
}

.box-item:hover::after {
  background-color: #000;
  opacity: .7;
}

.box-item>img {
  width: 100%;
  height: 100%;
  transition: ease-in-out .3s;
}

.box-item:hover img {
  transform: scale(1.1);
}

.box-cart {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  transition: ease-in-out .3s;
}
.box-item:hover .box-cart {
  opacity: 1;
}

/* first cart */
.first-cart, .second-cart {
  background-color: rgba(7, 7, 7, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  font-size: 1rem;
  padding: .3rem;
  cursor: pointer;
}

.first-cart {
  transition: ease-in-out .3s;
  font-weight: bold;
}

.first-cart:hover {
  background-color: rgb(155, 65, 213, 0.7);
}

.desc-proj {
  display: inline-block;
}

.box-cart i {
  margin-left: .5rem;
  font-size: 1.5rem;
  color: #fed104;
}

/* /first cart */

/* second-cart */
.second-cart {
  padding: 0;
}

.second-cart span {
  flex: 1;
  text-align: center;
  height: 100%;
  transition: ease-in-out .3s;
}

.second-cart a {
  display: inline-block;
  position: relative;
  color: #333;
  color: #fff;
  font-size: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.second-cart span:hover {
  background-color: rgb(155, 65, 213, 0.7);
}

/* /second-cart */

/* /PROJECTS */

/* -------------------- /PROJECTS -------------------- */


/* -------------------- CONTACTS -------------------- */
.contacts {
  position: relative;
  /* display: none; */
  height: 100vh;
  /* border-top: 5px solid #fed104; */
}

.contacts h3 {
  border-bottom: 1px solid #fff;
  font-size: 1.2rem;
}

.contacts .footer-img {
  position: absolute;
  width: 100%;
  min-height: 100%;
  /* min-height: calc(var(--vh, 1vh) * 1); */
  /* background: url(../img/project-img/bg-footer17.jpg) no-repeat top center; */
  background: url(../img/project-img/bg-footer14.jpg) no-repeat top center;
  /* background-size: cover; */
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: ease-in-out .5s;
}

.contacts .footer-img::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .8;
}

.contacts .container {
  position: absolute;
  bottom: 0;
  min-width: 100%;
  min-height: 100vh;
  height: calc(var(--vh, 1vh) * 35);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: 'Chewy';
  align-items: center;
  padding-bottom: .5rem;
  z-index: -1;
}

.contacts-list {
  bottom: 0;
  font-weight: bold;
  letter-spacing: 3px;
  word-spacing: 3px;
  font-size: 1.2rem;
}

.contacts-list .list-item {
  color: #000;
  color: #fed104;
  padding: 1rem;
  background-color: #9B41D5;
  background-color: rgb(255, 183, 0);
  background-color: #000;
  margin: 1.4rem;
}

.contacts .gb {
  font-size: 2rem;
  padding: 1rem;
  color: #9B41D5;
  color: #fff;
  color: #fed104;
  background-color: #9B41D5;
  background-color: rgb(255, 183, 0);
  background-color: #000;
}

/* -------------------- /CONTACTS -------------------- */